/* etusivu */

body {
    position: relative;
    margin: 0px;
    min-height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#vanta {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
.vanta-canvas{
    height: 100% !important;
}

nav .container {
    margin-right: auto;
}
#logo {
    margin-right: auto;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    border: 1px solid #fff;
    box-shadow: rgb(28 32 93 /24%) 0px 2px 8px 0px;
    object-fit: cover;
}
img#pic {
    display: flex;
    margin: auto;
    justify-items: center;
    object-fit: cover;
}
p#txt{
    display: flex;
    margin: auto;
    justify-content: center;
}
header nav {
    display: flex;
    padding-right: 0;
}

.link {
    background-color: #fffa;
    backdrop-filter: blur(2em) saturate(120%) contrast(190%);
    border-radius: 20em;
    padding: 1em;
    margin: 1.4em 0;
    box-shadow: rgb(28 32 93 /24%) 0px 2px 8px 0px;
    text-shadow: red -2px 0, cyan 2px 0;
    text-decoration: none;
    font-size: 22px;
    
}
#pagetxt {
    margin: 0 auto;
    font-size: 146px;
    text-align: center;
    text-shadow: red -2px 0, cyan 2px 0;
    margin-bottom: 20px;
    

}
.btb {
    display: flex;
    gap: 21px;

}

/* #etusivu */

img, #img{
    margin: auto;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.imgContainer {
    display: flex;
    justify-content: space-evenly;
}
p , #txt2 {
    display: flex;
    justify-content: center;
}
h1.txt1 {
    text-shadow: red -2px 0, cyan 2px 0;
    font-size: 53px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.img ,#item{  
    flex-grow: 0;
    width: 50px;
    max-width: 250px;
    min-width: min-content;
    background-color: rgba(1 1 1 / 4%);
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 4px 4px rgba(1 1 1 / 41%);
    }


/* #vikasivu */

div .column {
    display: inline;
    float: left;
    width: 33.33%;
    padding: 5px;
}
